@use "./theme";

#about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.about {
  padding: 1% 10%;
  backdrop-filter: blur(10px);
  overflow: hidden;
  text-align: center;
}
