@use "./theme";

#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.about__bio {
  padding: 1% 10%;
  overflow: hidden;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: 0.3s linear;

  &:hover {
    background-color: theme.t("background");
    outline: solid theme.t("on-background") 0.3rem;
  }
}

.about__projects {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__cards {
    padding: 1% 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
}
