@use "./theme";

/* monaspace-neon-latin-400-normal */
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-400-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-400-normal.woff)
      format("woff");
}

/* monaspace-neon-latin-700-normal */
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-700-normal.woff2)
      format("woff2"),
    url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-neon@latest/latin-700-normal.woff)
      format("woff");
}

@include theme.apply-theme();

:root {
  background-color: theme.t("background");
  color: theme.t("on-background");
  font-size: 16px;
  font-family: theme.$font;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  color: theme.t("primary");
}

button {
  background-color: theme.t("primary");
  color: theme.t("on-primary");
}
