@use "theme";

@media screen and (max-width: 600px) {
  .hero__visual {
    visibility: hidden;
    display: none;
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  &__visual {
    flex: 1;
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__headline {
    font-size: 2.5rem;
    font-weight: bold;
    color: theme.$primary;
  }

  &__subheadline {
    font-size: 1.5rem;
  }

  &__cta {
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}
