#hero__background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #ffffff;
  --background: #ffffff;
  --elevation-0: rgba(0, 0, 0, 0);
  --elevation-1: rgba(0, 0, 0, 0.05);
  --elevation-2: rgba(0, 0, 0, 0.07);
  --elevation-3: rgba(0, 0, 0, 0.08);
  --elevation-4: rgba(0, 0, 0, 0.09);
  --elevation-5: rgba(0, 0, 0, 0.11);
  --elevation-6: rgba(0, 0, 0, 0.12);
  --elevation-7: rgba(0, 0, 0, 0.14);
  --elevation-8: rgba(0, 0, 0, 0.15);
  --elevation-9: rgba(0, 0, 0, 0.16);
}

@media (prefers-color-scheme: dark) {
  #hero__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: #121212;
    --background: #121212;
    --elevation-0: rgba(255, 255, 255, 0);
    --elevation-1: rgba(255, 255, 255, 0.05);
    --elevation-2: rgba(255, 255, 255, 0.07);
    --elevation-3: rgba(255, 255, 255, 0.08);
    --elevation-4: rgba(255, 255, 255, 0.09);
    --elevation-5: rgba(255, 255, 255, 0.11);
    --elevation-6: rgba(255, 255, 255, 0.12);
    --elevation-7: rgba(255, 255, 255, 0.14);
    --elevation-8: rgba(255, 255, 255, 0.15);
    --elevation-9: rgba(255, 255, 255, 0.16);
  }
}
