---

---

<div class=".bio">
  <h1>Ege Can Taslicukur</h1>
  <p>I’m a programmer based in Istanbul, Türkiye 🇹🇷.</p>
  <p>
    I specialize in building data-driven applications with <strong>R</strong> and
    <strong>Shiny</strong>. I'm also quite experienced in <strong>Python</strong
    >, <strong>SQL</strong>, and the holy trinity of web development (<strong
      >JavaScript</strong
    >, <strong>HTML</strong>, <strong>CSS</strong>). I enjoy working across the
    stack, from AI/ML models and data pipelines to dynamic web interfaces.
  </p>
  <p>
    This site is built with <strong>Astro</strong> framework. The animated background
    draws ASCII characters driven by <strong>Perlin noise</strong> on an html canvas,
    dynamically modulated by mouse position. Click on the background to cycle through
    different colors. You can also find the source code in my public <a
      href="https://github.com/can-taslicukur/can-taslicukur.github.io"
      target="_blank">Github repo</a
    >.
  </p>
</div>
