---
import "../styles/global.css";
import "../styles/hero.css";
---

<section class="hero">
  <canvas id="hero__background"></canvas>
  <div class="hero__text">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio error
      voluptate perferendis? Tempore ab laudantium, voluptates consectetur, id,
      doloribus sunt dicta cupiditate laborum beatae corrupti asperiores illum
      dolor natus dolores!
    </h1>
  </div>
</section>
<script src="../scripts/hero.js"></script>
