---
import "../styles/hero.scss";
import AsciiBackground from "./AsciiBackground.astro";
---

<AsciiBackground />
<section id="hero">
  <div class="hero">
    <h1 class="hero__title">
      Hi! I am <a
        class="hero__title--important"
        href="https://github.com/can-taslicukur"
        target="_blank">Ege</a
      >
    </h1>
    <p class="hero__subtitle">I like to build things</p>
    <div class="hero__cta">
      <a id="hero-cta-primary" class="hero__cta--primary">BLOG COMING SOON</a>
    </div>
  </div>
  <a href="#about" class="hero__scrolldown"
    ><svg
      height="3em"
      viewBox="0 0 24 24"
      width="3em"
      xmlns="http://www.w3.org/2000/svg"
      style="fill: currentColor;"
    >
      <path
        d="m7.41 14.58 4.59 4.59 4.59-4.59 1.41 1.42-6 6-6-6zm0-6 4.59 4.59 4.59-4.59 1.41 1.42-6 6-6-6zm0-6 4.59 4.59 4.59-4.59 1.41 1.42-6 6-6-6z"
      ></path>
    </svg>
  </a>
</section>
<script>
  document.addEventListener("scroll", () => {
    const scrollYnormalized = window.scrollY / window.innerHeight;
    if (scrollYnormalized > 0.4) {
      document
        .querySelector(".hero__scrolldown")
        ?.classList.add("hero__scrolldown--hidden");
    } else {
      document
        .querySelector(".hero__scrolldown")
        ?.classList.remove("hero__scrolldown--hidden");
    }
  });
</script>
