---
import "../styles/hero.scss";
import AsciiBackground from "./AsciiBackground.astro";
---

<AsciiBackground />
<section class="hero">
  <h1 class="hero__title">
    Hi! I am <a
      class="hero__title--important"
      href="https://github.com/can-taslicukur"
      target="_blank">Ege</a
    >
  </h1>
  <p class="hero__subtitle">I like to build things.</p>
  <div class="hero__cta">
    <a class="hero__cta--primary">BLOG COMING SOON.</a>
  </div>
</section>
