---
import "../styles/hero.scss";
import AsciiBackground from "./AsciiBackground.astro";
---

<AsciiBackground />
<section class="hero">
  <div class="hero__text">
    <p>Hi! I am <span class="hero__text--important">Ege</span></p>
  </div>
</section>
