---
import "../styles/global.scss";
import "../styles/hero.scss";
---

<section class="hero">
  <canvas id="hero__background"></canvas>
  <div class="hero__text">
    <p>Hi! I am <span class="hero__text--important">Ege</span></p>
  </div>
</section>
<script src="../scripts/hero.js"></script>
