---
import "../styles/global.scss";
import IconLink from "../components/IconLink.astro";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <style lang="scss"></style>
    <title>{title}</title>
  </head>
  <body><slot /> </body>
  <footer>
    <IconLink
      icon="linkedin"
      href="https://www.linkedin.com/in/cantaslicukur/"
      width="3rem"
      height="3rem"
    />
    <IconLink
      icon="github"
      href="https://github.com/can-taslicukur/"
      width="3rem"
      height="3rem"
    />
    <IconLink
      icon="email"
      href="mailto:ege.can.taslicukur@gmail.com"
      width="3rem"
      height="3rem"
    />
  </footer>
</html>
